*.a
*.o
*.out
Makefile
buildpkg.sh
config.h
config.log
config.status
openssh.xml
opensshd.init
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
sshd
survey.sh
